.inner {
	@extend %inner;
}
.site-content {
	background: #ebebe9;
	padding-top: 20px;
	padding-bottom: 20px;
	@include mqPC {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.content-area {
	@extend %inner;
}

.site-content .widget-area {
	width: $size__site-sidebar;
}

.site-footer {
	width: $size__site-main;
}